<div class="container">
  <h2>Movies</h2>
  <!-- <div
    class="movie-list"
    cdkDropList
    #moviesList="cdkDropList"
    [cdkDropListData]="movies"
    [cdkDropListConnectedTo]="[doneMovieList]"
    (cdkDropListDropped)="onDrop($event)"
    > -->
  <div class="movie-list">
    <div cdkDropListGroup *ngFor="let movie of movies">
      <app-accordion>
        <app-accordion-item [movie]="movie">
          {{ movie.category }}
        </app-accordion-item>
      </app-accordion>
    </div>
  </div>
</div>

<div class="container">
  <h2>Movies Watched</h2>
  <div
    cdkDropList
    #doneMovieList="cdkDropList"
    [cdkDropListData]="moviesWatched"
    [cdkDropListConnectedTo]="[moviesList]"
    class="movie-list"
    (cdkDropListDropped)="onDrop($event)"
  >
    <div
      class="movie-block"
      *ngFor="let moviesWatched of moviesWatched"
      cdkDrag
    >
      {{ moviesWatched }}
    </div>
  </div>
</div>

<!-- https://www.youtube.com/watch?v=rkhH7Nk8mOM -->
<div class="card">
  <div>Accordion Demo</div>
  <div *ngFor="let movie of movies">
    <app-accordion>
      <app-accordion-item [movie]="movie">
        {{ movie.category }}
      </app-accordion-item>
    </app-accordion>
  </div>
</div>
