<div class="container">
  <h2>Movies</h2>
  <div
    cdkDropList
    #moviesList="cdkDropList"
    [cdkDropListData]="movies"
    [cdkDropListConnectedTo]="[doneMovieList]"
    class="movie-list"
    (cdkDropListDropped)="onDrop($event)"
  >
    <div class="movie-block" *ngFor="let movie of movies" cdkDrag>
      {{ movie }}
    </div>
  </div>
</div>

<div class="container">
  <h2>Movies Watched</h2>
  <div
    cdkDropList
    #doneMovieList="cdkDropList"
    [cdkDropListData]="moviesWatched"
    [cdkDropListConnectedTo]="[moviesList]"
    class="movie-list"
    (cdkDropListDropped)="onDrop($event)"
  >
    <div
      class="movie-block"
      *ngFor="let moviesWatched of moviesWatched"
      cdkDrag
    >
      {{ moviesWatched }}
    </div>
  </div>
</div>

<!--https://codepen.io/dcode-software/pen/oNjXqzg-->
<div>
  <div *ngFor="let movie of movies">
    <div class="accordion">
      <div>
        <input type="checkbox" class="group-input" content="" />
        <label for="section1" class="group-label"> {{ movie.category }} </label>
        <div class="group-content">
          {{ movie.name }}
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />

<!-- https://www.youtube.com/watch?v=rkhH7Nk8mOM -->
<div class="card">
  <div>Accordion Demo</div>
  <div *ngFor="let movie of movies">
    <app-accordion>
        <app-accordion-item [movies]=movies> {{ movie.category }} </app-accordion-item>
    </app-accordion>
</div>
</div>
